{% load static %}
<!HTML>
<html lang="en">
<head>
    <title>New Item</title>
    <style>
        th { padding-left: 5px; padding-right: 5px; }
        td { border: 1px solid #333; padding-left: 5px; padding-right: 5px;}
        .text-center { text-align: center; }
        .text-left { text-align: left; }
    </style>
</head>
<body>
{% block content %}
    <form enctype="multipart/form-data" action="/new/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    <form id="ean-image-form" enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        {{ form_image }}
        <input type="submit" value="Submit">
    </form>
    <script>
    let formElem = document.getElementById("ean-image-form")
    formElem.onsubmit = async (e) => {
        e.preventDefault();
        let response = await fetch('/from-image/', {
            method: 'POST',
            body: new FormData(formElem)
        });
        let result = await response.json();
        console.log(result);
    };
    </script>

{% endblock %}
</body>
</html>