{% load static %}
<!HTML>
<html lang="en">
<head>
    <title>New Item</title>
    <style>
        th { padding-left: 5px; padding-right: 5px; }
        td { border: 1px solid #333; padding-left: 5px; padding-right: 5px;}
        .text-center { text-align: center; }
        .text-left { text-align: left; }
    </style>
</head>
<body>
{% block content %}
    <form enctype="multipart/form-data" action="/new-food-item/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
</body>
</html>